.container {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 100px;
  border: none;
  padding: 16px;
  background-color: #2a2a2a;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

.button:disabled{
  background-color: #2f2f2f;
  cursor: not-allowed;
}